/* int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
}
int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
}
int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
}
int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
}
int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
}
int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
}
int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
}
int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }

        GreetUser("Bipin");
        GreetUser("Friend");

        Person p1 = new Person();
        p1.Name = "Bipin";
        p1.Age = 20;
        p1.Introduce();

        Console.Write("Enter first number: ");
        int num1 = Convert.ToInt32(Console.ReadLine());

        Console.Write("Enter second number: ");
        int num2 = Convert.ToInt32(Console.ReadLine());

        int sum = num1 + num2;
        Console.WriteLine("Sum: " + sum);
    }
} */
